
.App{
    max-width: 750px;
    margin:auto;
    border: 1px solid rgb(255, 255, 255);
    padding:20px;
	border-radius: 5px;
	font-family: sans-serif;
	letter-spacing: 1px;
	font-weight:100;
	font-size:14px;
}