$highlightColor: rgb(228, 228, 228);

.song-cont{    

	border: 1px solid lightgrey;
    padding: 18px;
	border-radius: 5px;
	
    & .song-entry.header{
        text-transform: uppercase;
		font-size: 12px;
		color: #b1b1b1;
    }

    & .song-entry{
        display: grid;
		grid-template-columns: 30px 33% 30% auto;
		align-items: center;
		padding:3px;
		border-radius: 3px;
		cursor: pointer;

        &:not(.header):hover{
            background: $highlightColor;
            & .play-button{
                opacity: 1;
            }
        }
        &.song-playing{
            background: $highlightColor;
            & .play-button{
                opacity: 1;
            }
		}
		& .song-data{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
    }

    & .play-button{
        opacity: 0;
        cursor: pointer;
		padding: 2px;
		& path{
			color: grey;
		}
	}

	& .search-button{
		position: relative;
		top: 0px;
		&.show{
			top: -30px;
		}
	}

	& .song-search{
		border-bottom: 1px solid transparent;
		padding-bottom:  0px;
		margin-bottom: 0px;
		outline: none;
		margin-left: 30px;
		height: 0px;
		&.show{
			border-bottom: 1px solid transparent;
			padding-bottom:  3px;
			margin-bottom: 10px;
		}
	}

}