.track-slider-container {
    width: 100%;
    margin: 12px;
    margin-top: 0;
    display: flex;
    margin-left: 0;
    align-items: center;
    font-size: 15px;
	font-weight: 100;
	
	& svg{
		font-size: 20px;
		margin-right: 5px;
		width: 22px !important;
		color: grey;
		position: relative;
	}
	
	& .track-slider {
		-webkit-appearance: none;
		border-radius: 5px;
		appearance: none;
		width: 100%;
		margin: 0px 6px;
		height: 10px; 
		background: #d3d3d3;
		outline: none;
	}	
	
	& .track-slider::-webkit-slider-thumb {
		appearance: none;
		width: 3px; 
		border-radius: 5px;
		height: 20px;
		background: black;
		cursor: pointer;
	}

	& .track-times{
		font-size: 16px;
		font-weight: 10
	}
}



