.slidecontainer {
	margin: 3px;
    margin-left: 0px;
    width: 150px;
    display: flex;
    justify-content: left;
    align-items: center;
	& svg{
		font-size: 20px;
		margin-right: 5px;
		width: 22px !important;
		color: grey;
		font-size: 32px
	}
	& .mute-button{
		transition: all .25s;	
		cursor: pointer;
		&:hover{
			color:black;
		}
	}		
	.volume-slider {
	    -webkit-appearance: none;
		border-radius: 5px;
		-moz-appearance: none;
		appearance: none;
		width: 75%;
		height: 6px;
		background: #d3d3d3;
		outline: none;
	}
	&:hover .volume-slider{
		opacity: 1;
	}

	& .volume-slider::-webkit-slider-thumb {
		appearance: none;
		width: 3px; 
		border-radius: 5px;
		height: 15px;
		background: black;
		cursor: pointer;
	}
}



